* {
  margin: 0;
  box-sizing: border-box;
  font-family: "Quicksand", sans-serif;
}

body {
  background-color: rgb(204, 207, 207);
}

h1,
h2 {
  font-family: "Tinos", serif;
  color: rgb(0, 0, 0);
}

a {
  color: rgb(163, 163, 163);
  text-decoration: none;
}

a:hover {
  text-decoration: line-through;
}

img {
  width: 100%;
  vertical-align: middle;
}

iframe {
  width: 100%;
  vertical-align: middle;
}

.galeria {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.galeria > * {
  width: 25%;
  border: whitesmoke 5px solid;
}

.galeria > figure {
  position: relative;
}

.galeria > figure > figcaption {
  background-color: rgba(80, 78, 79, 0.5);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5em;
  color: white;
  font-weight: bold;
  opacity: 0;
  transition: 0.5s;
}

.galeria > figure:hover > figcaption {
  opacity: 100%;
}

header,
section {
  border: white 3px solid;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

section {
  min-height: 100vh;
  padding: 3em 30%;
}

header {
  min-height: calc(100vh - 3em);
  background-image: url(../img/nuevoedificio.jpeg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

header {
  text-align: right;
}

head > h1 {
  font-size: 6vw;
  text-align: right;
}

section > h2 {
  font-size: 4rem;
  color: cornflowerblue;
  border: blue 3px solid;
}

section > h2,
section > p {
  padding-left: 5rem;
}

/* Maquetación del menú*/

#menu {
  position: sticky;
  top: 0;
}

#menu > ul {
  display: flex;
  justify-content: space-around;
  padding: 0;
}

#menu > ul > li {
  list-style: none;
  border: black 3px solid;
  height: 2em;
  display: flex;
  align-items: center;
}

#uni > p {
  font-size: 1.2rem;
}

@media screen and (max-width: 1200px) {
  section {
    padding: 3em 10%;
  }

  .galeria > figure {
    width: 45%;
  }
}

@media screen and (max-width: 650px) {
  section > h2 {
    font-size: 1.5em;
  }
}

@media screen and (max-width: 450px) {
  .galeria > figure,
  .galeria > iframe {
    width: 100%;
  }
}

.galeria > figure > figcaption {
  opacity: 1;
  position: static;
  height: auto;
  background-color: transparent;
  color: black;
  font-size: 1em;
  font-weight: normal;
  justify-content: start;
}
