*{
  margin: 0;  
  box-sizing: border-box;
  font-family: "Quicksand", sans-serif;
}

body {
    background-color: rgb(204, 207, 207);


}

h1, h2 {
    font-family: "Tinos", serif;
    color: rgb(0, 0, 0);
}

a {
    color: rgb(163, 163, 163);
    text-decoration: none;
}

a:hover {
    text-decoration: line-through;
}

img {
    width: 100%;
    vertical-align: middle;

}

iframe {
    width: 100%;
    vertical-align: middle;
}

.galeria { 
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    
}

.galeria > *{   
    width: 25%;
    border: whitesmoke 5px solid;
}

header, section {
    border: white 3px solid;
    display: flex;
    flex-direction: column;
    justify-content: center;

}


section{

    min-height: 100vh;
  

}

header {
    min-height: calc(100vh - 3em);
    background-image: url(../img/nuevoedificio.jpeg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

head > h1 {
   font-size: 6vw;
   text-align: right;
}

/* Maquetación del menú*/

#menu {
    position: sticky;
    top: 0;
}


#menu > ul {
    display: flex;
    justify-content: space-around;
    padding: 0;
}

#menu > ul > li {
    list-style: none;
    border: black 3px solid;
    height:2em ;
    display: flex;
    align-items: center;
}